
.RightPanel-root {
    margin-left: 1rem;
    width: 25%;
    min-width: 280px;
}

@media screen and (max-width: 1200px) {
    .RightPanel-root {
        width: 30%;
    }
}

@media screen and (max-width: 960px) {
    .RightPanel-root {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .RightPanel-root {
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
        min-width: unset;
    }
}