/* App.css */
.App-root {
  min-height: 100vh;
  background: linear-gradient(0deg, #F0EFFC 0%, #ffffff 100%);
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - var(--banner-height));
  margin-top: var(--banner-height);
  scroll-behavior: smooth;
  scroll-padding-top: 0; /* Ensures sections scroll to the top */
}

/* Custom scrollbar for better visual appearance */
.content-container::-webkit-scrollbar {
  width: 8px;
}

.content-container::-webkit-scrollbar-track {
  background: transparent;
}

.content-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

:root {
  --banner-height: 300px; /* Adjust based on your banner height */
}

@media (max-width: 768px) {
  :root {
    --banner-height: 470px;
  }
}