body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar and Project header*/
@font-face {
  font-family: 'Techno';
  src: local('Techno'), url('./font/TechnoTech-K7VzX.ttf') format('truetype');
}

/* About Card */
@font-face {
  font-family: 'God';
  src: local('God'), url('./font/Godshomedemo-K794e.ttf') format('truetype');
}